@import url('https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --clr-primary-soft-red: hsl(10, 79%, 65%);
  --clr-primary-cyan: hsl(186, 34%, 60%);

  --clr-neutral-dark-brown: hsl(25, 47%, 15%);
  --clr-neutral-medium-brown: hsl(28, 10%, 53%);
  --clr-neutral-cream: hsl(27, 66%, 92%);
  --clr-neutral-pale-orange: hsl(33, 100%, 98%);

  --font: 'DM Sans', sans-serif;

  --app-border-radius: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-pale-orange);
  overflow: hidden;
  font-family: var(--font);
}