@import url('https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css');

/* ===============
VARIABLES
================== */
:root {

    /* Primary colors */
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);

    /* Neutral colors */
    --clr-very-dark-blue: hsl(234, 12%, 34%);
    --clr-grayish-blue: hsl(229, 6%, 66%);
    --clr-very-light-gray: hsl(0, 0%, 98%);

    /* Fonts */
    --fnt-primary: 'Poppins', sans-serif;

}

/* ===============
GENERAL
================== */

body {
    font-family: var(--fnt-primary);
    color: var(--clr-very-dark-blue);
}

/* ===============
TYPOGRAPHY
================== */


/* ===============
LAYOUT
================== */


/* ===============
MEDIA QUERIES
================== */