

.spendingChartWrapper {
  display: flex;
  min-height: 200px;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-neutral-cream);
}

.spendingChart {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
  height: 100%;
  text-align: center;
}

.chartColumn {
  width: 2rem;
  position: relative;
}

.chartBar {
  border-radius: calc(var(--app-border-radius) - .7em);
  background-color: var(--clr-primary-soft-red);
  transition: background-color 200ms;
  &:hover {
    background-color: var(--clr-primary-cyan);
    cursor: pointer;
  }
}

.chartDayName {
  color: var(--clr-neutral-medium-brown);
}

.chartPopup {
  position: absolute;
  top: -1.5rem;
  right: -35%;
  text-align: center;
  background-color: var(--clr-neutral-dark-brown);
  color: var(--clr-neutral-cream);
  padding: .5em;
}

.spendingSummary {
  display: flex;
  justify-content: space-between;
  span {
    display: block;
  }
}

.spendingTotalAmount {
  font-weight: 700;
  font-size: 1.75rem;
}

.spendingMonthDifference {
  text-align: right;
  align-self: flex-end;
}

.spendingMonthDifferencePercentage {
  font-weight: 700;
}