@import url('https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css');

/* ===============
VARIABLES
================== */
:root {

    /* Primary colors */
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-unsaturated-dark-cyan: hsl(158, 15%, 37%);
    --clr-cream: hsl(30, 38%, 92%);

    /* Neutral colors */
    --clr-very-dark-blue: hsl(212, 21%, 14%);
    --clr-dark-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);

    /* Fonts */
    --fnt-sans-serif: 'Montserrat', sans-serif;
    --fnt-serif: 'Fraunces', serif;

}

/* ===============
GENERAL
================== */

body {
    background-color: var(--clr-cream);
    font-family: var(--fnt-sans-serif);
    overflow: hidden;
}

.root {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/* ===============
TYPOGRAPHY
================== */

h1 {
    font-family: var(--fnt-serif);
}

.top-text {
    text-transform: uppercase;
    letter-spacing: .4em;
    color: var(--clr-dark-grayish-blue);
}

.product-title {
    color: var(--clr-very-dark-blue);
    line-height: 1;
    font-size: clamp(2rem, 3.5vw, 3rem);
}

.product-description {
    color: var(--clr-dark-grayish-blue);
}

.product-price-current {
    color: var(--clr-dark-cyan);
}

.product-price-original {
    color: var(--clr-dark-grayish-blue);
    text-decoration: line-through;
    font-size: .9rem;
}

/* ===============
LAYOUT
================== */

.card {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 90%, 350px);
}

/* Image column */

.image-col,
.product-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-image {
    object-fit: cover;
    max-height: 100%;
}

/* Content column */

.content-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--clr-white);
    padding: 1.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.add-to-card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    background-color: var(--clr-dark-cyan);
    padding: 1em .5em;
    color: var(--clr-white);
    border: 0;
    border-radius: 10px;
    font-weight: 700;
}

.add-to-card-btn:hover {
    background-color: var(--clr-unsaturated-dark-cyan);
    cursor: pointer;
}

.add-to-card-btn-icon {
    width: 1em;
    height: 1em;
}

/* ===============
MEDIA QUERIES
================== */

@media (min-width: 1200px) {

    .card {
        flex-direction: row;
        width: clamp(450px, 80%, 700px);
    }

    .col {
        width: 50%;
    }

    .image-col,
    .product-image {
        border-top-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
    }

    .content-col {
        justify-content: center;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        gap: 1.5rem;
    }

}