.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-soft-red);
  border-radius: var(--app-border-radius);
  padding: 1rem;
  span {
    display: block;
  }
}

.balanceValue {
  font-weight: 700;
  font-size: 1.75rem;
}